h1 {
    color: #f5f5f5;
    align: center;
    text-align: center;
}
body { 
    text-align: center;
    background-image: url("https://cutewallpaper.org/21/anime-wallpaper-landscape/Waterfall-Anime-Background-Elkgroveses.com.jpg");
}
#container {
    background-color: #008383;
    width: 800px;
    padding: 1em;
    justify-content: center;
}
    
