h1 {
    color: #f5f5f5;
    align: center;
    text-align: center;
    font-size: 200px;
}
body { 
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/71/9e/80/719e80760999b4c355a723224120eb07.png");
    font-size: 150px;
}
#container {
    background-color: #008383;
    width: 800px;
    padding: 1em;
    justify-content: center;
}
    
